/* Provisional featured link component */

.gc-featured-link {
	background-color: $bg-gctheme;

	&.provisional {
		font-weight: $bold-weight;
		opacity: .9;
		padding-bottom: $space-md;
		padding-top: $space-md;

		p, a {
			color: #fff;
		}

		p {
			margin-bottom: $space-0;
		}
	}
}
